h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

#iconochat {
    float: left;
    width: 4em;
    padding-left: 2em;
}

body {
    background: #475665;
    height: 1px;
    border-width: 0;
    /*LETRAS*/
    font-family: 'Philosopher', sans-serif;
    color: #7ab1f3
}

hr {
    height: 0.5px;
    color: #7ab1f3;
    background-color: #7ab1f3;
    border-width: 0;
}

.Cuadros_Texto {
    column-count: 2;
    text-align: center;
    padding: 5em;
    font-size: 1.5em;
    justify-content: center;
}

canvas {
    width: 15px;
    height: 15px;
    border:1px solid #000000;";
}
h2{
    padding: 10px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}
table, th, td {
    width: 60%;
    border:1px solid black;
    table-layout: fixed;
    margin: auto;
}
table td{
    text-align: center;
}
caption{
    text-align: center;
}