h1 {
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    margin-right: 80px;
}

#iconochat {
    float: left;
    width: 4em;
    padding-left: 2em;
}

body {
    background: #475665;
    height: 1px;
    border-width: 0;
    /*LETRAS*/
    font-family: 'Philosopher', sans-serif;
    color: #7ab1f3;
    letter-spacing: 7px;
}

hr {
    height: 0.5pt;
    color: #7ab1f3;
    background-color: #7ab1f3;
    border-width: 0;
}

.Cuadros_Texto {
    column-count: 2;
    column-gap: 7em;
    text-align: center;
    padding: 5em;
    font-size: 1.5em;
    justify-content: center;
}

textarea {
    background-color: #38434f;
    border-radius: 1.2em;
    border-color: #54789b;
    resize: none;
    color: #CDCDCD;
    padding-top: 10px;
    padding-left: 10px;
}

button {
    border: 1px solid #54789b;
    border-radius: 12px;
    background-color: #38434f;
    color: #CDCDCD;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2em;
    cursor: pointer;
}

button:hover {
    border: 2px solid #7bb0e5;
    font-size: 12pt;
}

#Boton_Traducir {
    margin-top: 10px;
    margin-right: 41px;
}

#Simbolo_Play {
    width: 1.3em;
}

#Simbolo_Copiar {
    width: 1.3em;
}

#Codigo_Morse {
    margin-bottom: 1.5em;
}

.cajaCodigo {
    display: inline-block;
    border: 1px solid black;
    background-color: #38434f;
    border-radius: 1.2em;
    border-color: #54789b;
    color: #CDCDCD;
    width: 550px;
    height: 100px;
}

canvas {
    margin-top: 10px;
    width: 100px;
    height: 45px;
    border: 2px solid #54789b;
    border-radius: 12px;
    background-color: #38434f;
}

h2 {
    padding-top: 30pt;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

h3 {
    font-weight: bold;
    color: #7ab1f3;
}

/**/
table, th, td {
    width: 83.3%;
    border: 0.1pt solid #54789b;
    table-layout: fixed;
    margin: auto;
    margin-bottom: 4em;
    border-collapse: collapse;
    background-color: #38434f;
    font-size: 20px;
}

td {
    text-align: center;
    border-left: 0;
}

th {
    border-right: 0;
}

caption {
    text-align: center;
}

article {
    letter-spacing: 2px;
    margin-left: 120px;
    margin-right: 120px;
    text-align: justify;
    text-indent: 40px;
    padding: 15pt;
    line-height: 25px;
    background-color: #38434f;
    border-radius: 20px;
}

#Linea_AbajoInfo {
    margin-top: 70px;
    margin-bottom: 70px;
}

footer {
    text-align: center;
    color: #CDCDCD;
    font-size: 10pt;
    background-color: #38434f;
    padding-bottom: 30px;
}

.Footer {
    background-color: #38434f;
}